*.gise
*.stx
*.xst
*.tcl
*.html
*.log
*.debug
*.bgn
*.drc
*.bld
*.ncd
*.ngc
*.ngr
*.pad
*.ngd
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unrotes
*.ut
*.xpi
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.pdf
*.sh
*.out
*.in
*.xmsgs
*.cgc
*.cgp
*.ncf
*.vdbl
*.vdbx
*.cmd_log
*.unroutes
*.lst
*.projectmgr
*.xreport
*.psg
*.wpc
*.ppr
*.jou
*.xbcd
*~
*.vho
*.xco
*.do
*.sdc
*.xbcd

